<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

    {% if config.description %}
    <meta name="description" content="{{ config.description | safe }}">
    {% endif %}

    {% if config.title %}
    <title>{{ config.title | safe }}</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ get_url(path='favicon.svg') }}" type="image/x-icon">

    {% if config.generate_feed %}
    <link rel="alternate" href="{{ get_url(path='atom.xml') }}" type="application/atom+xml" title="Atom">
    {% endif %}

    {% if config.extra.katex %}
    <!-- Katex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
        integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js"
        integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js"
        integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <!-- End Katex -->
    {% endif %}

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="{{ get_url(path='css/bulma.min.css') }}">
    <!-- End Bulma CSS -->

    {% if config.extra.mapbox_gl %}
    <!-- Mapbox GL -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mapbox-gl@3.2.0/dist/mapbox-gl.min.css">
    <!-- End Mapbox GL -->
    {% endif %}
</head>

<body class="has-navbar-fixed-top">
    <header>
        {% include "partials/header.html" %}
    </header>

    <main>
        <section class="hero is-fullheight-with-navbar">
            <div class="hero-body">
                {% block main %}
                {% endblock main %}
            </div>
        </section>
    </main>

    <footer class="footer">
        {% include "partials/footer.html" %}
    </footer>

    {% if config.extra.chart %}
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <!-- End Chart.js -->
    {% endif %}

    {% if config.extra.mapbox_gl %}
    <!-- Mapbox GL -->
    <script src="https://cdn.jsdelivr.net/npm/mapbox-gl@3.2.0/dist/mapbox-gl.min.js"></script>
    <!-- End Mapbox GL -->
    {% endif %}

    {% if config.extra.mermaid %}
    <!-- Mermaid.js -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.9.0/dist/mermaid.min.js"></script>
    <!-- End Mermaid.js -->
    {% endif %}

    {% if config.extra.analytics.goatcounter %}
    <!-- GoatCounter -->
    <script data-goatcounter="{{ config.extra.analytics.goatcounter | safe }}" async
        src="//gc.zgo.at/count.js"></script>
    <!-- End GoatCounter -->
    {% endif %}
</body>

</html>